@keyframes bouncing{
0%{top:0}
25%{top:3px}
40%{top:4px}
50%{top:5px}
60%{top:4px}
75%{top:3px}
100%{top:0}

}

.chevron-down{
	position:relative;
	margin:auto;
	margin-bottom:1%;
	margin-top:auto;
	width:50px;
	transition:0.3s all ease;
	cursor:pointer;
	animation:bouncing 2s infinite;	
	color:white;
	&:hover{
		transform:scale(1.5);
	}

	.fa{
		font-size:4rem;

	}
	a{
		color:white;
	}
}

.gif{
	display:none;
	position:fixed;
	z-index:200;
	bottom:10px;
	left:10px;
	img{
		width:50px;
	}
}

