nav{
	background: white;
	z-index:100;
	right:0;
	top:0;
	// position:fixed;
	width:100%;

	ul{
		margin:auto;
		display:flex;
		align-items:center;
	}
	li{
		list-style:none;
	}
	a{
		padding:10px 25px;
		font-size:1.2rem;
		color:black;
		font-family:$titlefont;
		width:100%;
		transition:0.3s;
		position:relative;
		&:hover{
			color:white;
			background:black;
		}
	}
	.icon{
		width:38px;
	}
}

