$smartphone: 492px;
$tabletPortrait: 767px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1400px;

@media all and (max-width:$desktop){
  .wrapper{
    width:90%;
  }
}

@media all and (max-width:$tabletLandscape){
  .wrapper{
    width:98%;
    margin:1% auto;
  }
  .header-text{
    order:1;
    text-align:center;
  }
}
@media all and (max-width:$tabletPortrait){
  .header-text{
    h1{
      font-size:3.5rem;
    }
  }
  .flex-wrapper{
    .box-1{
      order:2;
    }
    .box-2{
      order:1;
    }
    .box-3{
      order:3
    }
    .box-4{
      order:4;
    }
  }
  .half-container{
    flex:1 1 100%;
    text-align:center;
  }
  .skill-container{
    flex:1 1 32%;
  }
  .form-wrapper{
    width:90%;
  }
  form{
        width:100%;
  }
  .project-info{
    padding:5px;;
  }

  }
@media all and (max-width:$smartphone){
  .hamburger-menu{
    display:block;
  }
  .gif{
    display:block;
  }
  nav.nav-menu{
    display:none;
  } 
  .about{
    padding-top:15px;
    height:100vh;
  }
  .wrapper{
    width:100%;
  }	
  .header-text{
    h1{
      font-size:3rem;
      padding:1%;
      margin:auto;
    }
    h2{
      font-size:2rem;
      margin:3% auto;
    }
    p{
      font-size:1.2rem;
      padding::2%;
    }
  }
  .skill-container{
      flex:1 1 20%;
      width:40px;
      height:40px;
    img{
      width:40px;
      height:40px;
    }
  }
  .contact{
    padding:1px;
    .section-header{
      padding:0;
    }
    form{
      padding:0;
    }
  }
  .social{
    .fa{
      font-size:2rem;
    }
    i{
      width:2.5rem;
    }
  }
  }