$smartphone: 492px;
$tabletPortrait: 767px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1400px;

@media all and (max-width:$desktop){
  .wrapper{
    width:90%;
  }
}

@media all and (max-width:$tabletLandscape){
  .wrapper{
    width:98%;
    margin:1% auto;
  }
  .header-text{
    order:1;
    text-align:center;
  }
}

@media all and (max-width:$tabletPortrait){
  .header-text{
    h1{
      font-size:3.5rem;
    }
  }
  .flex-wrapper{
        .box-1{
      order:2;
    }
    .box-2{
      order:1;
    }
    .box-3{
      order:3
    }
    .box-4{
      order:4;
    }
  }
  .half-container{
    flex:1 1 100%;
    text-align:center;
  }
  .project-info{
    padding:5px;;
  }
  .skill-container{
    flex:1 1 32%;
  }
  .form-wrapper{
    width:90%;
  }
  form{
        width:100%;
  }

  }
@media all and (max-width:$smartphone){
  .about{
    height:100vh;
  }
  .wrapper{
    width:100%;
  }	
  .header-text{
    h1{
      font-size:2.8rem;
      padding-bottom:2%;
    }
    p{
      font-size:1.5rem;
      padding::2% 5%;
    }
  }
  .contact{
    padding:1px;
    .section-header{
      padding:0;
    }
    form{
      padding:0;
    }
  }

  }